.noOverflow {
  overflow: hidden;
}

.hamburger {
  height: 100%;
  width: 100%;
  position: relative;
  transform: translateY(25%);
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-radius: 100%;
  transition: 0.3s;
  cursor: pointer;
}

.bar {
  height: 5%;
  width: 100%;
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.4s;
}

.viewportButton {
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  background-color: #9999992d;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewportButton .bar {
  position: absolute;
  background-color: #dddddd2d;
}

.viewportButton:hover {
  background-color: #99999999;
}
.viewportButton:hover .bar {
  background-color: #ddd;
}

.viewportButton .bar:nth-of-type(1) {
  top: 0;
  transition: top 0.15s ease 0.15s, transform 0.15s ease-out 0.05s background-color 0.15s;
}

.viewportButton .bar:nth-of-type(2) {
  top: 22%;
  transition: 0.15s ease 0.15s background-color 0.15s;
}

.viewportButton .bar:nth-of-type(3) {
  top: 44%;
  transition: top 0.15s ease 0.15s, transform 0.15s ease-out 0.05s background-color 0.15s;
}

.viewportButton.menuX .hamburger .bar:nth-of-type(1) {
  top: 22%;
  transform: rotate(45deg);
  transition: top 0.15s ease 0.05s, transform 0.15s ease-out 0.25s background-color 0.15s;
  animation: mrotr 0.25s cubic-bezier(0.15, 0.1, 0.1, 0.505);
}

.viewportButton.menuX .hamburger .bar:nth-of-type(2) {
  opacity: 0;
  animation: fade 0.25s cubic-bezier(0.15, 0.1, 0.1, 0.505);
}

.viewportButton.menuX .hamburger .bar:nth-of-type(3) {
  top: 22%;
  transform: rotate(-45deg);
  transition: top 0.15s ease 0.05s, transform 0.15s ease-out 0.25s background-color 0.15s;
  animation: mrotl 0.25s cubic-bezier(0.15, 0.1, 0.1, 0.505);
}

@keyframes mrotr {
  0% {
    transform: translateY(0px) rotate(0);
  }

  50% {
    transform: translateY(22%) rotate(0);
  }

  100% {
    transform: translateY(22%) rotate(45deg);
  }
}

@keyframes mrotl {
  0% {
    transform: translateY(0px) rotate(0);
  }

  50% {
    transform: translateY(-22%) rotate(0);
  }

  100% {
    transform: translateY(-22%) rotate(-45deg);
  }
}

@keyframes rotateR {
  from {
    transform: translateY(0px) rotate(0);
  }

  to {
    transform: translateY(22%) rotate(45deg);
  }
}

@keyframes rotateL {
  from {
    transform: translateY(0px) rotate(0);
  }

  to {
    transform: translateY(-22%) rotate(-45deg);
  }
}

@keyframes circle-creation {
  0% {
    border-color: transparent;
    transform: rotate(0deg);
  }

  25% {
    border-color: transparent #fff transparent transparent;
    transform: rotate(-35deg);
  }

  50% {
    border-color: transparent #fff #fff transparent;
  }

  75% {
    border-color: transparent #fff #fff #fff;
  }

  100% {
    border-color: #fff;
    transform: rotate(-300deg);
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.modalOverlay .modal,
.tooltip {
  background-color: #66665588;
  color: #ffc;
  font-size: 0.75rem;
  font-family: monospace;
  border: 1px solid black;
  user-select: none;
}
.tooltip {
  position: absolute;
  z-index: 10;
  white-space: nowrap;
  padding: 0.25rem 0;
  opacity: 0%;
  top: calc(100% + 0.5rem);
  right: 0;
  width: fit-content;
  height: fit-content;
}


.tooltip li {
  padding: 0.125rem 0.5rem;
}

.tooltip li,
.tooltip li button {
  text-align: left;
  cursor: default;
}
.tooltip li button {
  width: 100%;
}

.tooltip li:hover {
  background-color: #555;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalOverlay .modal {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalOverlay input {
  background-color: #9969;
  color: #ffc;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.thumbnailsViewerContainer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
.thumbnailsViewer {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}